.sl-injected {
	all: initial;

	--bg-color: #eff1f5;
	--shadow-color: rgba(124, 127, 147, 0.3);
	--text-idle-color: #8c8fa1;
	--text-active-color: #4c4f69;
}

.sl-injected.sl-prompt {
	pointer-events: none;
	box-shadow: 3px 3px var(--shadow-color);
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	opacity: 0;
	width: 40px;
	height: 40px;
	transition: translate 0.2s ease-out, opacity 0.3s ease-in;
	background-color: var(--bg-color);
	border-radius: 5px;
}

.sl-injected.sl-prompt.sl-prompt-show {
	pointer-events: all;
	opacity: 1;
	cursor: pointer;
}

.sl-injected.sl-prompt-button {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	height: 100%;
}

.sl-injected.sl-prompt-button-text {
	height: 100%;
	margin: 0;
	transition: color 0.4s, transform 0.3s ease-out;
	font: normal normal 35px Georgia;
	line-height: 98%;
	color: var(--text-idle-color);
	text-align: center;
	vertical-align: middle;
}

.sl-injected.sl-prompt-button-text:hover {
	color: var(--text-active-color);
}

.sl-injected.sl-prompt-button-text.sl-prompt-button-for-cancellation {
	transform: rotate(45deg);
}
